<!--
  Generated template for the NplistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>National Parks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container  *ngFor="let park of parksArr; let i = index">
      <ion-card *ngIf="i<3">
    <img src='../../assets/imgs/nature_lover.jpg'>
    <ion-card-content>
      <ion-card-title>{{park.name}}</ion-card-title>
      <p>
        {{park.description}}
      </p>
      <div>
        <label >Location: {{park.latLong}}</label>

      </div>

    </ion-card-content>
    <ion-item>
        <ion-label> Add to itinerary</ion-label>
        <ion-toggle checked="false"></ion-toggle>
      </ion-item>
  </ion-card>
</ng-container>

</ion-content>
