page-signup {

    p {
        height: 75px;	
        width: 310px;	
        color: #000;	
        font-family: Avenir;	
        font-size: 15px;	
        font-weight: 500;	
        line-height: 25px;	
        text-align: center;
        padding-top: 20%;
        padding-right: 5%;

    }


   .form {
       padding-top: 40%;
       padding-left: 5%;
       margin: auto;
   }

   div.group-name {
       display: block;
       padding-left: 5%;
       

       input[type=text] {
           width: 234px;
           height: 29px;
           font-family: Avenir;
           color: #000;
           line-height: normal;
           box-sizing: border-box;
           border: 1px solid #808080;
           border-radius: 4px;
           text-indent: 2%;
           
       }
   }

   div.group-email {
    display: block;
    padding-top: 6%;
    padding-left: 5%;
    

    input[type=text] {
        width: 234px;
        height: 29px;
        font-family: Avenir;
        line-height: normal;
        box-sizing: border-box;
        border: 1px solid #808080;
        border-radius: 4px;
        text-indent: 2%; 
        
    }
}
    // .item-block {
    //     font-family: Avenir;
    //     font-size: 15px;
    //     color: #000;
    //     text-align: left;
        
    //     .item-inner {

    //     }
    // }

    div.group-date{
        padding-right: 10%;
        padding-left:-10%;
        padding-top:5%;
        width: 247px;
        font-family: Avenir;
        font-size: 2px;
        

        ion-label {
            font-size: 14px;
        }
    }

    div.group-zipcode {
        display: block;
    padding-top: 6%;
    padding-left: 5%;
    

    input[type=text] {
        width: 117px;
        height: 29px;
        font-family: Avenir;
        line-height: normal;
        box-sizing: border-box;
        border: 1px solid #808080;
        border-radius: 4px;
        text-indent: 4%; 
        
    }
    }

    ion-label.group-accom{
        padding-left: 5%;
        padding-top: 1%;
        font-family: Avenir;
        font-weight: 500;
    }

    ion-list.list {
        width: 234px;
        font-family: Avenir;

        button {
            height: 38px;
        
            span.button-inner {
                height: 31px;
                font-family: Avenir;
            }
        }
    }


}
