<!--
  Generated template for the CoffeeshopsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>coffeeshops</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ng-container  *ngFor="let coffee of coffeeShopsArry; let i = index">
        <ion-card *ngIf="i<3">
      <ion-card-content>
        <ion-card-title>{{coffee.name}}</ion-card-title>
        <div>
          <label >Location</label>
          <label >{{coffee.coordinates.latitude}}</label>
          <label >Rating: {{coffee.rating}}</label>
        </div>
  
      </ion-card-content>
      <!-- <button ion-button color="primary" (click)="addToItinerary(coffee.name, coffee.coordinates.latitude)" outline block>Add to itinerary</button> -->
    </ion-card>
  </ng-container>
  
  </ion-content>